*{
    list-style: none;
    border-style: none;
}

html{
    overflow-x: hidden;
    background-color: rgb(248, 245, 239);
}

.btn{
    font-family: Inter;
    letter-spacing: -0.5px;
    font-size: 12px;
    padding: 6px 17px;
    border-radius: 8px;
    border: 0.5px solid rgb(175, 175, 175);
    background-color: #ffffff00;
    font-weight: 500;
    letter-spacing: -0.5px;
}

.header-container{
    margin-top: 47px;
    display: flex;
    align-items: center;
    width: 63vw;
    height: 7vh;
    justify-content: space-between;
    text-align: center;
    margin-left: 18.5vw;
    margin-right: 18.5vw;
}

.header-div1{
    display: flex;
    width: 20vw;
    justify-content: space-between;
}

.header-heading{
    font-size: 25px;
    font-family: Inter;
    font-weight: 700;
}

.header-div1-item{
    font-family: Inter;
    font-size: 16px;
}

.header-div2-list{
    display: flex;
}

.header-div2-list-item{
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 13px;
    padding-bottom: 13px;
    color: white;
    font-family: Inter;
    font-size: 16px;
}

.header-div2-list-item-black{
   border-radius: 7px;
   background-color: #000000;
}

.header-div2-list-item-white{
   color: #000000;
   background-color: #ffffff00;
}

.landingpage-div-main{
    font-family: Instrument serif;
    font-size: 68px;
    margin-top: 15px;
    margin-bottom: 15px;
    letter-spacing: 2.4px;
    font-weight: 600;
}

.landingpage{
    max-height: 70vh;
    margin-top: 24vh;
    margin-bottom: 15vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.landingpage-div-para{
    font-family: inter;
    font-size: 21px;
    letter-spacing: -0.6px;

}

.landingpage-div2-btn{
    font-family: Inter;
    font-size: 16px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 7px;
    color: white;
    font-weight: 500;
    letter-spacing: -0.5px;
}

.btn21{
    background-color: #000000;
}

.btn22{
    margin-left: 15px;
    color: #000000;
    background-color: rgb(246, 212, 255);
}

.platform{
    width: 98vw;
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 20vh;
}


.platform-para{
    font-family: Instrument serif;
    font-size: 53px;
    letter-spacing: 0.1px;
    
}

.platform-btn{
   width: 105px;
   font-family: Inter;
   font-size: 12px;
   font-weight: 500;
   letter-spacing: -0.4px;
   background-color: #ffffff00;
}

.features{
    width: 98vw;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.features-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-right: 50px;
    margin-right: 50px;
}

.features-list-item-overline{
   font-family: Inter;
   font-size: 15px;
   letter-spacing: -0.1px;
   color: rgba(100, 100, 100, 0.451);
}

.features-list-item-para{
   font-family: Inter;
   font-size: 15px;
   letter-spacing: -0.1px;
   color: rgb(0, 0, 0);
}

.features-list-item{
    width: 40vw;
    height: fit-content;
    border-radius: 20px;
    padding: 34px 50px;
}

.features-list-item1{
  background-color: #56ccff94;
}

.features-list-item2{
  background-color: #ffffff94;
}


.features-list-item-h2{
    font-family: Inter;
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 16px;
}

.features-list-item-btn{
    margin-top: 30px;
     font-family: Inter;
    font-size: 16px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 7px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    letter-spacing: -0.5px;
    background-color: #ffffff00;
    border: 1px solid black;
    border-radius: 7px;
}

.os{
    width: 98%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.os-container1{
    display: flex;
    width: 100%;
    padding: 2vw 5vh;
    align-items: flex-start;
    justify-content: space-between;
    gap: 110px;

}

.os-container2{
    margin: 0 auto;
}


.os-h1{
    width: 50vw;
    font-family: Instrument serif;
    font-size: 53px;
    letter-spacing: 0.1px;
    margin: 0px auto;
}

.os-para{
    font-family: inter;
    font-size: 21px;
    letter-spacing: -0.6px;
    max-width: 40vw;
}
.os-container-list{
    width: 98%;
    display: flex;
    gap: 40px;
    padding-left: 30px;
}

.os-container-list-item{
    width: 20vw;
    height:fit-content;
    padding: 10px 10px;
    background-color: rgb(246, 212, 255);
    border-radius: 25px;
    width: fit-content;
    height: 50vh;
}

.os-container-list-item-wrapper{
    background-image: url(./img/c014b5bf-b014-4324-ba00-5f1e6745d566.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    width: 28vw;
    height: 30vh;
}

.os-container-list-item2{
    background-color: #56ccff94;
}

.os-container-list-item3{
    background-color: #d5d7d7ac;
}

.os-container-list-item-header{
    margin: 0 auto;
     font-family: Inter;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 16px;
    color: rgb(246, 212, 255);
    padding-left: 20px;
    padding-top: 36%;
}

.os-container-list-item-para{
    width: 24vw;
    height: fit-content;
    font-family: inter;
    padding-left: 16px;
}