*{
    list-style: none;
    border-style: none;
}

html{
    overflow-x: hidden;
    background-color: rgb(248, 245, 239);
}

.btn{
    font-family: Inter;
    letter-spacing: -0.5px;
    font-size: 12px;
    padding: 6px 17px;
    border-radius: 8px;
    border: 0.5px solid rgb(175, 175, 175);
    background-color: #ffffff00;
    font-weight: 500;
    letter-spacing: -0.5px;
}

.header-container{
    margin-top: 47px;
    display: flex;
    align-items: center;
    width: 63vw;
    height: 7vh;
    justify-content: space-between;
    text-align: center;
    margin-left: 18.5vw;
    margin-right: 18.5vw;
}

.header-div1{
    display: flex;
    width: 20vw;
    justify-content: space-between;
}

.header-heading{
    font-size: 25px;
    font-family: Inter;
    font-weight: 700;
}

.header-div1-item{
    font-family: Inter;
    font-size: 16px;
}

.header-div2-list{
    display: flex;
}

.header-div2-list-item{
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 13px;
    padding-bottom: 13px;
    color: white;
    font-family: Inter;
    font-size: 16px;
}

.header-div2-list-item-black{
   border-radius: 7px;
   background-color: #000000;
}

.header-div2-list-item-white{
   color: #000000;
   background-color: #ffffff00;
}

.landingpage-div-main{
    font-family: Instrument serif;
    font-size: 68px;
    margin-top: 15px;
    margin-bottom: 15px;
    letter-spacing: 2.4px;
    font-weight: 600;
}

.landingpage{
    max-height: 70vh;
    margin-top: 24vh;
    margin-bottom: 15vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.landingpage-div-para{
    font-family: inter;
    font-size: 21px;
    letter-spacing: -0.6px;

}

.landingpage-div2-btn{
    font-family: Inter;
    font-size: 16px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 7px;
    color: white;
    font-weight: 500;
    letter-spacing: -0.5px;
}

.btn21{
    background-color: #000000;
}

.btn22{
    margin-left: 15px;
    color: #000000;
    background-color: rgb(246, 212, 255);
}

.platform{
    width: 98vw;
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 20vh;
}


.platform-para{
    font-family: Instrument serif;
    font-size: 53px;
    letter-spacing: 0.1px;
    
}

.platform-btn{
   width: 105px;
   font-family: Inter;
   font-size: 12px;
   font-weight: 500;
   letter-spacing: -0.4px;
   background-color: #ffffff00;
}